*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.nav{
    height: 60px;
    background-color: black;
    color: #fdfcfc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 130px;
}
.logo{
    background-image: url("ama.com_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
/*.border{
    border: 2.5px solid transparent;
    display: inline;
}*/
.border :hover{
    border: 2.5px solid #f7f7f7;/*to clock it show white border*/
}
.border > * :hover {
    border: none;
}
.add1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.add2{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3.5px;
}
.nav_icon{
    display: flex;
    align-items: center;
}
.nav-search:hover{
    border: 2px solid orange;
}
.nav-search{
    margin-left: 20px;
    display: flex;
    border-radius: 4.5px;
    width: 912px;
    height: 40px;
}
.search{
    background-color: #e6e6e6;
    text-align: center;
    border-bottom-left-radius: 4.5px;
    border-top-left-radius: 4.5px;
    border: none;
    width: 52px;
}
.input-s{
    width: 810.9px;
    font-size: medium;
    border: none;
}
.i{
    width: 45px;
    height: 40px;
    border-bottom-right-radius: 4.5px;
    border-top-right-radius: 4.5px;
    background-color: rgb(245, 228, 81);
    font-size: large;
    border: none;
}
.nav-lan{
    width: 73px;
    height: 50px;
    display: flex;
    align-items: center;
}
#usa{
    background-image: url(usa.png);
    background-size: cover;
    width: 22px;
    height: 16px;
}
.lan{
    background-color: black;
    font-size: small;
    border: none;
    color: white;
}
.nav-log{
    width: 135px;
    height: 50px;
}
.log1{
    font-size: 0.85rem;
    margin-left: 5px;
}
.log2{
    font-size: 0.85rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border: none;
    margin-right: 15px;
}
.nav-ro{
    width: 73px;
    height: 50px;
}
.ro1{
    font-size: 0.8rem;
}
.ro2{
    font-size: 0.95rem;
    font-weight: 700;
}
.nav-cart{
    width: 83px;
    height: 50px;
    font-size: 0.95rem;
    font-weight: 700;
    align-items: center;
}
.nav-cart i{
    font-size: 25px;
}
.panel{
    background-color: #292734;
    width: 1536px;
    height: 39px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-op p{
    display: inline;
    margin-left: 15px;
    width: 128px;
    height: 39px;
}
.panel-op{
    width: 93%;
    font-size: medium;
    margin-left: 10px;
}
.main-d{
    background-image: url("main.jpg");
    width: 1500px;
    height: 320px;
    background-size: cover;
    margin-left: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-m{
    background-color: #f5f6f6;
    color: black;
    width: 1460px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(248, 227, 230, 0.587);
}
.box{
    width: 350px;
    height: 420px;
    border: none;
    background-color: white;
    margin-top: 1.5rem;
    
}
.b1img{
    width: 300px;
    height: 300px;
    margin-left: 1.5rem;
    margin-top: 0.75rem;
    background-size: cover;
}

.box h1{
    font-size: 20px;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.box p{
    font-size: 15px;
    color: #2162A1;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.shop1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(248, 227, 230, 0.587);
}
.shopall{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(248, 227, 230, 0.587);
}
.ball{
    width: 1460px;
    height: 281.5px;
    background-color: white;
    display: flex;
    margin-top: 0.5rem
}
.b{
    width: 270px;
    height: 185px;
    display: flex;
    background-size: cover;
    margin-top: 3.5rem;

}
.ball h1{
    align-items: first baseline;
    font-size: 20px;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
   
}
.foot{
    color: white;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 1536px;
    font-size: 13px;
    margin-top: 25px;
}
.foot1{
    color: white;
    background-color: #222f3d;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
ul{
    margin-top: 10px;
}
ul a{
    display: block;
    font-size: 14px;
}